.reveal h1
{
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);    
    margin-bottom: 0.6em;
}

.reveal h2 {
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 20px rgba(255,255,255,0.3);
    font-family: "Fira Sans";
    font-weight: 700;
    font-size: 1.6em;
    margin-bottom: 0.6em;
}

.reveal h3
{
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 20px rgba(255,255,255,0.3);
    font-family: "Fira Sans";
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 0.8em;
}

.reveal section img { 
    background: #ffffff; 
    border: none; 
    box-shadow: none; 
    padding: 20px; 
    max-height: 90%;
}

.reveal ul
{
    list-style-type: square;
    line-height: 1.1;
}

.reveal ul li:not(:last-child) {
    margin-bottom: 0.5em;    
}

.reveal ul ul
{
    list-style-type: disc;
    font-size: 0.8em;
    margin-top: 0.2em;
}

.reveal ul ul li:not(:last-child)
{
    margin: 0.1em 0 0.1em 0;
}

/* .reveal a:hover {
    color: #adff2f;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
} */

.reveal pre { 
    margin-top: 1.6em;
    box-shadow: none; 
}

.reveal pre code {
    padding: 10px;
}

.reveal code { color: lightgoldenrodyellow;}